* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top, #a7c5b3, #b1cdbc, #bbd4c4, #c6dccd, #d0e4d6);
}

